[Unit]
Description=Calibre-Web (built from source)
Requires=network.target
After=tailscale-online.target
Wants=tailscale-online.target

[Service]
Type=simple
User=calibre-web
Group=calibre-web
WorkingDirectory=/opt/calibre-web
ExecStart=/opt/calibre-web/venv/bin/python /opt/calibre-web/cps.py -i __TAILSCALE_IP__
Restart=always
KillSignal=SIGINT
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
